body{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}
.top{
  background-color: #b2d9dc;
}
.sesion{
  padding: 10;
  display:block;
  text-align: right;
}
.sesion2{
  padding: 10;
  float: right;
  display: block;
}
.sesion a, .sesion2 a, .sesion button{
  padding: 15px 20px;
  background-color:#3f888f;
  color: white;
  font-family: arial;
  transition: 0.3s; 
  opacity: 0.7;
}
#buscPag a{
  opacity: 0.9;
}
.sesion a:hover, .sesion2 a:hover, #buscPag a:hover{
  opacity: 1;
}
a{
  text-decoration: none;
  color: black;
}
#encabezado {
  display: flex;
  padding:20;
  border-bottom: solid #999;
}
#encabezado2{
  padding: 20;
  border-bottom: solid #999;
}
#encabezado2 img{
  width: 250;
  height: 150;
}
.formulario{
  display: inline-block;
  flex-grow: 9;
}
.image img{
  height: 200;
}
.image{
  flex-grow: 1;
}
.inpForm input{
  width: 500;
  height: 25;
  box-shadow: 3px 3px 7px #999;
}
.inpForm{
  margin: 15px;
}
.inpForm #butBusc {
  box-shadow: 3px 3px 7px #999;
}
h3{
  margin-left: 20px;
  text-decoration: underline;
}
.tabla th{
  text-align: center;
  background-color: #7bbec4;
}
.columnaAccion{
  display: none;
}
.tabla{
  box-shadow: 5px 5px 10px #999;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1;
}
.tabla td, .tabla tr {
  border: 1px solid #444;
  padding: 5 40 ;
}
.tabla tr:nth-child(even){
  background-color: #ddd;
}
.tabla tr:hover{
  background-color: #ccc;
}
td img{
  width: 100;
  height: 100;
}
.titulo{
  text-align: center;
  width: 50%;
}
#buscPag{
  display: block;
  text-align: center;
  margin: 25 0;
}
#buscPag a{
  margin: 3;
  padding: 7 15;
  background-color: #999;
}


#fontTitulo{
  text-decoration:underline;
  font-style:italic;
  display: block;
}
.presentacionLibro{
  display: block;
}

.presentacionLibro img{
  width: 200;
  height: 200;
  float: right;
  margin-right: 50;
}

.datoEnNegrita { 
  font-weight: bold;
  font-size: large;
  font-style: normal;
  font-family: Arial;
}

.datoEnCursiva {
  font-style: oblique;
  font-size: larger;
}

.parrafoLibro {
  line-height: 1.3;
  padding: 25;
  padding-left: 30;
  color:#444;
  font-size: large;
  border-radius: 98px;
  border: 2px solid #999;
}

.datosDeLibro{
  margin-left: 20;
}

#margenGeneral {
  margin: 25;
}
#formRegistrarse div{
  margin: 10;
}
#formRegistrarse label{
  display: inline-block;
  padding: 10;
  background-color:#7bbec4; 
  border-radius: 90px 90px 90px 90px;
  border: 0px solid #000000;
}
#botonRegistro input{
  display: inline-block;
  margin-top: 10;
  border-radius: 90px;
  background-color: white;
  border:2px solid #008b8b;
  cursor: pointer;
}
#botonRegistro input:hover{
  background-color: #008b8b;
}
#botonRegistro input:active{
  transform: translateY(2px);
}
#imgPerfilAutor{
  margin-right: 180;
  width: 250;
  height: 250;
  float: right;
}
h2{
  display: block;
  text-align: center;
  margin-top: 80;
}
.error {
  margin-left: 10px;
  color: red;
}

#userCerrarSesion {
  margin-right: 20px;
}

#userDerecha {
  float: left;
  text-decoration: underline;
  margin-left: 20px;
}
.paginado {
  margin: 30;
  text-align: center;
}

/* cosas de prueba para el inicio de sesion */